/* .ant-btn {
    margin-right: 8px;
  }

  form{
    margin-left: 8px;
  }

   */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

